<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis_stu.mapper.OrdersMapper">

      <resultMap id="BaseResultMap" type="com.mybatis_stu.domain.Orders">
        <id column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="numbers" jdbcType="INTEGER" property="numbers" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      </resultMap>
      <!--sql片段-->
      <sql id="Base_Column_List">
        order_id, user_id, numbers, create_time
      </sql>

    <!--一对一关系，懒加载-->
    <resultMap id="getOrdersWithUserMap" type="com.mybatis_stu.domain.vo.OrdersVO"
               extends="BaseResultMap">
        <!--向VO类中的属性 userName 注入值-->
        <result property="userName" column="user_name"></result>

        <!--用户信息(一对一)-->
        <!--select : 指定关联查询的 查询statement(即查询用户的statement的id)，然后将查询结果，封装到property属性指定的变量中-->
        <!--column:通过column指定的列所查询出的结果，作为select指定的statement的入参
        注意：如果select指定的statement,入参需要多个值，需要再column中{col_1 = prop1,col_2 = prop2}   (将col_1的值赋值给prop1的值)，
               prop1,prop2就是多个入参的名称。
        -->
        <association property="user"
                     select="com.mybatis_stu.mapper.UserMapper.findUserById" column="user_id" />
    </resultMap>

    <!--查询定单以及用户 懒加载-->
    <select id="getOrdersWithUser2"   resultMap="getOrdersWithUserMap2">
        SELECT
        orders.order_id,
        orders.user_id,
        orders.numbers,
        orders.create_time
        from orders
        <where>
            <if test="orderId !=null and orderId !='' "  >
                order_id = #{orderId}
            </if>
        </where>
    </select>

</mapper>