.group:before,
.group:after {content: ""; display: table;} 
.group:after {clear: both;}
.group {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}

/* Project CSS file */
body{color:#fff; background: black url(../images/body-bg.jpg) repeat 0 0;}

/*Calculator general*/
#calculator{width:217px; position:relative; padding:5px; margin:45px auto 0; border:1px solid #1d1d1d; background:#2d2d2d;}
#calculator:target{margin-top:-100px;}
#calculator{border-radius:5px;}
#calculator{box-shadow:0 9px 15px 0px #1D1D1D, 0 0 0 1px #454545 inset;}
#calc_inner{background:#191919; padding:10px 5px;}
#calc_inner{border-radius:3px;}
#calc_inner{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #000000 32%, #4b4b4b 105%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(32%,#000000), color-stop(105%,#4b4b4b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #000000 32%,#4b4b4b 105%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #000000 32%,#4b4b4b 105%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #000000 32%,#4b4b4b 105%); /* IE10+ */
	background: linear-gradient(45deg,  #000000 32%,#4b4b4b 105%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4b4b4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#screen_form{width:205px; padding:1px;}
#screen_form{
border-radius:4px;
}
#screen_form{
background: #4f4f4f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNyUiIHN0b3AtY29sb3I9IiM0ZjRmNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2OSUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-radial-gradient(center, ellipse cover,  #4f4f4f 7%, #222222 69%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%,#4f4f4f), color-stop(69%,#222222)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #4f4f4f 7%,#222222 69%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #4f4f4f 7%,#222222 69%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #4f4f4f 7%,#222222 69%); /* IE10+ */
background: radial-gradient(ellipse at center,  #4f4f4f 7%,#222222 69%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#222222',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


}
#screen{height:31px; width:193px; padding:5px 6px; border:none; text-align:right; font-family:digital-7; font-size:30px; text-shadow:0 0 4px #FFFFFF; color:#fff; background:#131313;}
#screen{
background: #0c0c0c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzBjMGMwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTUxNTE1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(40deg,  #0c0c0c 60%, #151515 0%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(60%,#0c0c0c), color-stop(0%,#151515)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(40deg,  #0c0c0c 60%,#151515 0%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(40deg,  #0c0c0c 60%,#151515 0%); /* Opera 11.10+ */
background: -ms-linear-gradient(40deg,  #0c0c0c 60%,#151515 0%); /* IE10+ */
background: linear-gradient(40deg,  #0c0c0c 60%,#151515 0%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#151515',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#screen{border-radius:3px;}
#calc_controls{margin-bottom:8px;}

/*Calculator buttons*/
.btns li{width:33px; float:left; margin:5px 8px 0 0; padding:10px 0; border:1px solid #090909; font-family: myriad pro; text-align:center; cursor:pointer;}
#calc_controls.btns li{height:11px; padding:9px 0; font-size:13px;}
.btns .dbl_width{width:76px;}
.btns .dbl_height{height:59px; float:right;}
.btns .last{margin-right:0;}
.btns li{
	text-shadow: 0 -1px 0 #000;
}
.btns li{
	
  	-webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-moz-border-radius: 3px; /* Firefox 1-3.6 */
	border-radius:3px;
}
.btns li{
	box-shadow:inset 0 0 0 1px #262626;
}
.btns .red{
	box-shadow:inset 0 0px 0px 1px #ad3838;
}
.btns .red{
	font-size: 24px; font-weight: bold;
	line-height: 55px;
	text-shadow: 0 -1px 0 #470707;
}
.btns li{
	background: #212121; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjBiMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #212121 0%, #0b0b0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#0b0b0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #212121 0%,#0b0b0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #212121 0%,#0b0b0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #212121 0%,#0b0b0b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #212121 0%,#0b0b0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#0b0b0b',GradientType=0 ); /* IE6-8 */
}
.btns .lght{
	background: #232323; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMjMyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzE3MTcxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #232323 0%, #171717 57%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(57%,#171717), color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #232323 0%,#171717 57%,#111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #232323 0%,#171717 57%,#111111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #232323 0%,#171717 57%,#111111 100%); /* IE10+ */
	background: linear-gradient(to bottom, #232323 0%,#171717 57%,#111111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
}
.btns .red{
	background: #b71d1d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3MWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iIzhkMTcxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MTE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b71d1d 0%, #8d1717 71%, #811616 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b71d1d), color-stop(71%,#8d1717), color-stop(100%,#811616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b71d1d 0%,#8d1717 71%,#811616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b71d1d 0%,#8d1717 71%,#811616 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b71d1d 0%,#8d1717 71%,#811616 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b71d1d 0%,#8d1717 71%,#811616 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71d1d', endColorstr='#811616',GradientType=0 ); /* IE6-8 */
}

.btns li:active{
	background: #0b0b0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #0b0b0b 0%, #212121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b0b0b), color-stop(100%,#212121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0b0b0b 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0b0b0b 0%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0b0b0b 0%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0b0b0b 0%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0b0b', endColorstr='#212121',GradientType=0 ); /* IE6-9 */

}
.btns .lght:active{
	background: #111111; /* Old browsers */
	background: -moz-linear-gradient(top,  #111111 0%, #171717 43%, #232323 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(43%,#171717), color-stop(100%,#232323)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #111111 0%,#171717 43%,#232323 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #111111 0%,#171717 43%,#232323 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #111111 0%,#171717 43%,#232323 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #111111 0%,#171717 43%,#232323 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#232323',GradientType=0 ); /* IE6-9 */

}
.btns .red:active{
	background: #811616; /* Old browsers */
	background: -moz-linear-gradient(top,  #811616 0%, #8d1717 29%, #b71d1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#811616), color-stop(29%,#8d1717), color-stop(100%,#b71d1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #811616 0%,#8d1717 29%,#b71d1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #811616 0%,#8d1717 29%,#b71d1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #811616 0%,#8d1717 29%,#b71d1d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #811616 0%,#8d1717 29%,#b71d1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#811616', endColorstr='#b71d1d',GradientType=0 ); /* IE6-9 */

}

#numbers_etc{width:129px; float:left;}

/*Other*/
#tip{width:200px; padding:16px; background:#fff; color:#000; opacity:0;}



