@charset "gb2312";
/* CSS Document */

body,h1{margin:0px;}
#regist {
	width:230px;
	border:1px #3a6587 solid;
	/*margin:0px auto;*/
}
h1 {
	text-align:center;
	font-size:16px;
	background-color:#3a6587;
	line-height:35px;
	color:#FFF;
}
#regist table {
	background-color:#d4e8f7;
}
#regist table td {
	height:28px;
	font:12px "ו";
}
.leftTitle {
	width:80px;
	text-align:right;
}
.textInput {
	border:1px #7b7b7b solid;
	width:130px;
	height:17px;
}
.btnRegist {
	background:url(../image/btnRegist.jpg) 0px 0px no-repeat;
	width:100px;
	height:32px;
	border:0px;
	cursor:pointer;
	margin:5px 0px;
}
