<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd
							   http://www.springframework.org/schema/tx
							   http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <!--测试可用-->

	<bean id="tasks" class="com.spring_stu.spring_scheduled.b_annotation.ScheduledTasks"/>

	<!--&lt;!&ndash;默认创建的是ThreadPoolTaskScheduled&ndash;&gt;-->
	<!--<task:scheduler id="scheduler" pool-size="10"/>-->
	<!--&lt;!&ndash;corePoolSize = 5 ,maxPoolSize = 10   默认创建的是ThreadPoolTaskExecutor&ndash;&gt;-->
	<!--<task:executor id="executor"  pool-size="5-20" keep-alive="20" queue-capacity="20"/>-->
	<!--<task:annotation-driven executor="executor" scheduler="scheduler" />-->


	<!--或者使用 方式2 ：显示声明 executor和scheduler-->
	<!--任务执行器-->
	<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5"/>
		<property name="maxPoolSize" value="10"/>
		<property name="queueCapacity" value="20"/>
	</bean>
	<!--任务调度器-->
	<bean id="scheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
		<property name="poolSize" value="10"/>
	</bean>

	<task:annotation-driven executor="executor" scheduler="scheduler" />

</beans>