<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context
       					   http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/tx
       					   http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:property-placeholder location="classpath:jdbcInfo.properties"/>
	<!-- 创建数据源 c3p0-->
	<bean id="topicDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password"  value="${jdbc.password}"></property>
	</bean>
	<!-- 创建数据源 c3p0-->
	<bean id="forumDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password"  value="${jdbc.password}"></property>
	</bean>

	<!--4.1 配置事务管理器 :管理器需要事务，事务从Connection获得，连接从连接池DataSource获得 -->
	<bean id="topicManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!--为事务管理器设置一个数据源 可以使用不同的数据源-->
		<property name="dataSource" ref="topicDataSource"></property>
		<!--为事务管理器定义一个名字-->
	    <qualifier value="topic"/>
	</bean>
	<!--4.1 配置事务管理器 :管理器需要事务，事务从Connection获得，连接从连接池DataSource获得 -->
	<bean id="forumManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!--为事务管理器设置一个数据源 可以使用不同的数据源-->
		<property name="dataSource" ref="forumDataSource"></property>
		<!--为事务管理器定义一个名字-->
		<qualifier value="forum"/>
	</bean>
	<tx:annotation-driven />
</beans>